.cache
.classpath
.project
.settings

.idea
*.iml

*.log
rebel.xml

.DS_Store

bin
target
node_modules

specifications/src/test/fitnesse/FitNesseRoot/ErrorLogs/
dependency-reduced-pom.xml
build
.gradle
activemq-data
out

*.jks
*.pkcs12
devops/openshift/test/secret-vars.yaml
devops/openshift/demo/secret-vars.yaml
