<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" debug="true" scanPeriod="15 seconds">
	<property name="APP_NAME" value="${APP_NAME:-intygstjanst}"/>

	<logger name="org.apache.cxf.phase.PhaseInterceptorChain" level="ERROR"/>
	
	<include resource="logback/logback-spring-base.xml"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<!-- Enable this to test ecs logging in json.
	<root level="INFO">
		<appender-ref ref="ECS_JSON_CONSOLE"/>
	</root>
	-->
</configuration>